{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="{%static 'cs/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{%static 'cs/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{%static 'cs/bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{%static 'cs/bootstrap-grid.rtl.min.css' %}">
    <link rel="stylesheet" href="{%static 'cs/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{%static 'cs/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{%static 'cs/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{%static 'cs/bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="{%static 'cs/bootstrap-utilities.rtl..css' %}">
    <link rel="stylesheet" href="{%static 'cs/bootstrap-utilities.rtl.min.css' %}">
</head>
<body>
    <a href="https://www.facebook.com" class="btn btn-primary">facebook</a>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.esm.js'%}"></script>
    <script src="{%static 'js/bootstrap.esm.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    
</body>
</html>